.App {
  height: 100%;
  text-align: center;
  background-image: url("./images/wooden.jpg");
  /* background-size: 100%; */
}

.recipe-app-body-container {
  /* position: relative; */
  height: 100%;
  background-color: aqua;
}