.App {
  height: fit-content;
  min-height: 100%;
  text-align: center;
  background-image: url("./images/wooden.jpg");
  background-position-y: 1rem;
}

.recipe-flexbox-col {
  display: flex;
  flex-direction: column;
}

.recipe-app-body-container {
  margin: 2.5rem;
  padding: 2rem;
  border: 0.4rem solid burlywood;
  background-color: #fff;
}