.allCards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    justify-items: left;
    /* align-items: ; */
    padding: 1rem;
}

.card {
    padding: 10px;
}

.cardImgDiv {
    height: 266px;
    border: 1px solid black;
}

.cardImg {
    height: 100%;
    max-width: 100%;
}

.btn {
    margin: 10px;
    width: fit-content;
    display: inline-block;
}