.allCards {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-flow: wrap;
}

.card {
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.cardImgDiv {
    height: 266px;
    border: 1px solid black;
}

.cardImg {
    max-width: 225px;
    max-height: 225px;
}

.btn {
    margin: 10px;
    width: fit-content;
    display: inline-block;
}