.login-div {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 25rem;
    height: 25rem;
    padding: 20px;
    background: -webkit-linear-gradient(top,#7579ff,#5c346d);
    border-radius: 10px;
}

.login-header {
    font-size: xx-large;
    color: #fff;
}
