.login-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.login-card {
    max-width: 85%; 
    width: 25rem;
    height: 25rem;
    border-radius: 10px;
}

.login-header {
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid silver;
}

.login-form-group {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-form-button {
    margin-top: 0rem;
}

.link-primary {
    cursor: pointer;
    text-decoration: none;
}

.link-primary:hover {
    text-decoration: underline;
}
